<div class="bg-gradient-to-b from-white to-gray-50">
    <div class="max-w-7xl mx-auto pt-24 px-4 sm:px-6 lg:px-8 pb-32">
        <div class="sm:flex sm:flex-col sm:align-center">
            <h1 class="text-5xl font-extrabold text-gray-900 sm:text-center">Pricing Plans</h1>
            <p class="mt-5 text-xl text-gray-500 sm:text-center">Start building for free and scale up as you need.</p>
        </div>

        <div class="mt-12 space-y-4 sm:mt-16 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-6 lg:max-w-4xl lg:mx-auto xl:max-w-none xl:mx-0 xl:grid-cols-4">
            <div class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200">
                <div class="p-6">
                    <h2 class="text-lg leading-6 font-medium text-gray-900">Self-hosted</h2>
                    <p class="mt-4 text-sm text-gray-500">Open-source, self-hosted.
                        Complete control over your data. Security and privacy compliant.</p>
                    <p class="mt-8">
                        <span class="text-4xl font-extrabold text-gray-900">FREE</span>
                        <span class="text-base font-medium text-gray-500">Forever</span>
                    </p>
                    <a href="<%= locals.social.gitlab.repoHref %>"
                       class="mt-8 block w-full bg-green-500 border border-transparent rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-green-400">Deploy
                        it</a>
                </div>
                <div class="pt-6 pb-8 px-6">
                    <h3 class="text-xs font-medium text-gray-900 tracking-wide uppercase">What's included</h3>
                    <ul role="list" class="mt-6 space-y-4">
                        <li class="flex space-x-3">
                            <%- include ('./svg/check-green.svg') %>
                            <span class="text-sm text-gray-500">Self-Hosted</span>
                        </li>

                        <li class="flex space-x-3">
                            <%- include ('./svg/check-green.svg') %>
                            <span class="text-sm text-gray-500">Your data, your rules</span>
                        </li>

                        <li class="flex space-x-3">
                            <%- include ('./svg/check-green.svg') %>
                            <span class="text-sm text-gray-500"><a
                                        href="https://gitlab.com/hook0/hook0/-/blob/master/LICENSE.txt">Server Side Public License</a></span>
                        </li>
                    </ul>
                    <h3 class="mt-6 text-xs font-medium text-gray-900 tracking-wide uppercase">What's not included</h3>
                    <ul role="list" class="mt-6 space-y-4">
                        <li class="flex space-x-3">
                            <%- include ('./svg/exclamation-triangle.svg') %>
                            <span class="text-sm text-gray-500">Infrastructure scaling</span>
                        </li>

                        <li class="flex space-x-3">
                            <%- include ('./svg/exclamation-triangle.svg') %>
                            <span class="text-sm text-gray-500">99.9% uptime</span>
                        </li>

                        <li class="flex space-x-3">
                            <%- include ('./svg/exclamation-triangle.svg') %>
                            <span class="text-sm text-gray-500">Managed updates</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200">
                <div class="p-6">
                    <h2 class="text-lg leading-6 font-medium text-gray-900">Developer</h2>
                    <p class="mt-4 text-sm text-gray-500">Perfect way to try out Hook0, no need to setup self-hosting,
                        free
                        forever for side-projects.</p>
                    <p class="mt-8">
                        <span class="text-4xl font-extrabold text-gray-900">FREE</span>
                        <span class="text-base font-medium text-gray-500">Forever</span>
                    </p>
                    <a href="#top"
                       class="mt-8 block w-full bg-green-500 border border-transparent rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-green-400">Sign Up</a>
                </div>
                <div class="pt-6 pb-8 px-6">
                    <h3 class="text-xs font-medium text-gray-900 tracking-wide uppercase">What's included</h3>
                    <ul role="list" class="mt-6 space-y-4">
                        <li class="flex space-x-3">
                            <%- include ('./svg/check-green.svg') %>
                            <span class="text-sm text-gray-500">Fully managed, no infra. to own</span>
                        </li>

                        <li class="flex space-x-3">
                            <%- include ('./svg/check-green.svg') %>
                            <span class="text-sm text-gray-500"><strong>1</strong> developer</span>
                        </li>

                        <li class="flex space-x-3">
                            <%- include ('./svg/check-green.svg') %>
                            <span class="text-sm text-gray-500"><strong>1</strong> application</span>
                        </li>

                        <li class="flex space-x-3">
                            <%- include ('./svg/check-green.svg') %>
                            <span class="text-sm text-gray-500">Up to <strong>100</strong> events per day</span>
                        </li>

                        <li class="flex space-x-3">
                            <%- include ('./svg/check-green.svg') %>
                            <span class="text-sm text-gray-500"><strong>7 days</strong> data retention</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200">
                <div class="p-6">
                    <h2 class="text-lg leading-6 font-medium text-gray-900">Enterprise</h2>
                    <p class="mt-4 text-sm text-gray-500">Unleash your data connectivity along with enterprise features and better support.</p>
                    <p class="mt-8">
                        <span class="text-4xl font-extrabold text-gray-900">€190</span>
                        <span class="text-base font-medium text-gray-500">/month</span>
                    </p>
                    <a href="<%= locals.meta.contact %>"
                       class="mt-8 block w-full bg-green-500 border border-transparent rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-green-400">Contact
                        us</a>
                </div>
                <div class="pt-6 pb-8 px-6">
                    <h3 class="text-xs font-medium text-gray-900 tracking-wide uppercase">What's included</h3>
                    <ul role="list" class="mt-6 space-y-4">
                        <li class="flex space-x-3">
                            <%- include ('./svg/check-green.svg') %>
                            <span class="text-sm text-gray-500">Fully managed, no infra. to own</span>
                        </li>

                        <li class="flex space-x-3">
                            <%- include ('./svg/check-green.svg') %>
                            <span class="text-sm text-gray-500"><strong>Unlimited</strong> developers</span>
                        </li>

                        <li class="flex space-x-3">
                            <%- include ('./svg/check-green.svg') %>
                            <span class="text-sm text-gray-500"><strong>Unlimited</strong> applications</span>
                        </li>

                        <li class="flex space-x-3">
                            <%- include ('./svg/check-green.svg') %>
                            <span class="text-sm text-gray-500"><abbr title="Extra events are not blocked but billed at €0.0001/event">Up to <strong>100,000</strong> events per day</abbr></span>
                        </li>

                        <li class="flex space-x-3">
                            <%- include ('./svg/check-green.svg') %>
                            <span class="text-sm text-gray-500"><abbr title="Extended retention can be purchased, contact us!"><strong>30 days</strong> data retention</abbr></span>
                        </li>

                        <li class="flex space-x-3">
                            <%- include ('./svg/check-green.svg') %>
                            <span class="text-sm text-gray-500"><strong>Premium</strong> support</span>
                        </li>

                        <li class="flex space-x-3">
                            <%- include ('./svg/check-green.svg') %>
                            <span class="text-sm text-gray-500">Static source IPs (on demand)</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200">
                <div class="p-6">
                    <h2 class="text-lg leading-6 font-medium text-gray-900">Custom</h2>
                    <p class="mt-4 text-sm text-gray-500">You need more? You need different? Let us know and we will build a custom plan just for you.</p>
                    <p class="mt-8">
                        <span class="text-4xl font-extrabold text-gray-900">?</span>
                        <span class="text-base font-medium text-gray-500">/month (or year)</span>
                    </p>
                    <a href="<%= locals.meta.contact %>"
                       class="mt-8 block w-full bg-green-500 border border-transparent rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-green-400">Contact
                        us</a>
                </div>
                <div class="pt-6 pb-8 px-6">
                    <h3 class="text-xs font-medium text-gray-900 tracking-wide uppercase">What's included</h3>
                    <ul role="list" class="mt-6 space-y-4">
                        <li class="flex space-x-3">
                            <%- include ('./svg/check-green.svg') %>
                            <span class="text-sm text-gray-500">Fully managed, no infra. to own</span>
                        </li>

                        <li class="flex space-x-3">
                            <%- include ('./svg/check-green.svg') %>
                            <span class="text-sm text-gray-500"><strong>Unlimited</strong> developers</span>
                        </li>

                        <li class="flex space-x-3">
                            <%- include ('./svg/check-green.svg') %>
                            <span class="text-sm text-gray-500"><strong>Unlimited</strong> applications</span>
                        </li>

                        <li class="flex space-x-3">
                            <%- include ('./svg/check-green.svg') %>
                            <span class="text-sm text-gray-500">
                                <strong>Custom</strong> requirements
                            </span>
                        </li>

                        <li class="flex space-x-3">
                            <%- include ('./svg/check-green.svg') %>
                            <span class="text-sm text-gray-500"><strong>Premium</strong> support</span>
                        </li>

                        <li class="flex space-x-3">
                            <%- include ('./svg/check-green.svg') %>
                            <span class="text-sm text-gray-500">
                                Enterprise <strong>security</strong> & compliance
                            </span>
                        </li>

                        <li class="flex space-x-3">
                            <%- include ('./svg/check-green.svg') %>
                            <span class="text-sm text-gray-500">Static source IPs (on demand)</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <p class="mt-4 ml-2 flex space-x-3">
            <%- include ('./svg/information-circle.svg') %>
            <span class="text-sm text-gray-500">One <strong>event</strong> can trigger multiple webhook subscriptions which can in turn be retried multiple times. <strong>Subscriptions and retries are free.</strong></span>
        </p>
    </div>
</div>
