<a name="footer" id="footer"></a>
<footer class="bg-gray-800" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
        <div class="container mx-auto px-8">
            <div class="flex flex-col md:flex-row justify-center gap-y-8 gap-x-14 pt-12 pb-32">

                <div>
                    <h3 class="text-base font-medium text-white">About</h3>
                    <ul role="list" class="mt-4 space-y-4">
                        <li class="pl-0">
                            <a href="mailto:support@hook0.com" class="text-base text-gray-300 hover:text-white">
                                Contact
                            </a>
                        </li>
                        <li class="pl-0">
                            <a href="/#pricing" class="text-base text-gray-300 hover:text-white">
                                Pricing
                            </a>
                        </li>
                        <li class="pl-0">
                            <a href="<%= locals.meta.doc_guides %>"
                               class="text-base text-gray-300 hover:text-white">
                                Resources
                            </a>
                        </li>
                        <li class="pl-0">
                            <a href="./security.ejs" class="text-base text-gray-300 hover:text-white">
                                Security &amp; Compliance
                            </a>
                        </li>
                        <li class="pl-0">
                            <a href="privacy-policy.ejs" class="text-base text-gray-300 hover:text-white">
                                Privacy
                            </a>
                        </li>
                        <li class="pl-0">
                            <a href="./terms.ejs" class="text-base text-gray-300 hover:text-white">
                                Legal
                            </a>
                        </li>
                        <li class="pl-0">
                            <a href="./built-to-last.ejs" class="text-base text-gray-300 hover:text-white">
                                Built to Last
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mt-12 md:mt-0">
                    <h3 class="text-base font-medium text-white">Developers</h3>
                    <ul role="list" class="mt-4 space-y-4">
                        <li class="pl-0">
                            <a href="<%= locals.meta.doc_getstarted %>"
                               class="text-base text-gray-300 hover:text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                     stroke="currentColor" aria-hidden="true"
                                     class="inline-block w-5 h-5 mr-2 align-text-bottom text-white-700">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M13 10V3L4 14h7v7l9-11h-7z"></path>
                                </svg>
                                Start in 5 minutes
                            </a>
                        </li>
                        <li class="pl-0">
                            <a href="<%= locals.meta.doc_guides %>" class="text-base text-gray-300 hover:text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                     stroke="currentColor" aria-hidden="true"
                                     class="inline-block w-5 h-5 mr-2 align-text-bottom text-white">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"></path>
                                </svg>

                                Documentation
                            </a>
                        </li>
                        <li class="pl-0">
                            <a href="<%= locals.meta.doc_api_reference %>"
                               class="text-base text-gray-300 hover:text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                     stroke="currentColor" aria-hidden="true"
                                     class="inline-block w-5 h-5 mr-2 align-text-bottom text-white">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z"></path>
                                </svg>

                                API Reference
                            </a>
                        </li>
                        <li class="pl-0">
                            <a href="<%= locals.social.github.href %>" class="text-base text-gray-300 hover:text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                     stroke="currentColor" aria-hidden="true"
                                     class="inline-block w-5 h-5 mr-2 align-text-bottom text-white">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path>
                                </svg>
                                SDK &amp; Libraries
                            </a>
                        </li>
                        <li class="pl-0">
                            <a href="<%= locals.social.github.repoHref %>"
                               class="text-base text-gray-300 hover:text-white">
                                <svg role="img" class="inline-block w-5 h-5 mr-2 align-text-bottom text-white"
                                     fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>
                                        GitLab</title>
                                    <path d="M4.845.904c-.435 0-.82.28-.955.692C2.639 5.449 1.246 9.728.07 13.335a1.437 1.437 0 00.522 1.607l11.071 8.045c.2.145.472.144.67-.004l11.073-8.04a1.436 1.436 0 00.522-1.61c-1.285-3.942-2.683-8.256-3.817-11.746a1.004 1.004 0 00-.957-.684.987.987 0 00-.949.69l-2.405 7.408H8.203l-2.41-7.408a.987.987 0 00-.942-.69h-.006zm-.006 1.42l2.173 6.678H2.675zm14.326 0l2.168 6.678h-4.341zm-10.593 7.81h6.862c-1.142 3.52-2.288 7.04-3.434 10.559L8.572 10.135zm-5.514.005h4.321l3.086 9.5zm13.567 0h4.325c-2.467 3.17-4.95 6.328-7.411 9.502 1.028-3.167 2.059-6.334 3.086-9.502zM2.1 10.762l6.977 8.947-7.817-5.682a.305.305 0 01-.112-.341zm19.798 0l.952 2.922a.305.305 0 01-.11.341v.002l-7.82 5.68.026-.035z"></path>
                                </svg>
                                Source Code
                            </a>
                        </li>
                        <li class="pl-0">
                            <a href="https://status.hook0.com/" class="text-base text-gray-300 hover:text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                     stroke="currentColor" aria-hidden="true"
                                     class="inline-block w-5 h-5 mr-2 align-text-bottom text-white">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M5.636 18.364a9 9 0 010-12.728m12.728 0a9 9 0 010 12.728m-9.9-2.829a5 5 0 010-7.07m7.072 0a5 5 0 010 7.07M13 12a1 1 0 11-2 0 1 1 0 012 0z"></path>
                                </svg>

                                Status Page
                            </a>
                        </li>
                        <li class="pl-0">
                            <a href="https://documentation.hook0.com/docs/docker-compose"
                               class="text-base text-gray-300 hover:text-white">

                                <svg role="img" class="inline-block w-5 h-5 mr-2 align-text-bottom text-white"
                                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M5.25 14.25h13.5m-13.5 0a3 3 0 01-3-3m3 3a3 3 0 100 6h13.5a3 3 0 100-6m-16.5-3a3 3 0 013-3h13.5a3 3 0 013 3m-19.5 0a4.5 4.5 0 01.9-2.7L5.737 5.1a3.375 3.375 0 012.7-1.35h7.126c1.062 0 2.062.5 2.7 1.35l2.587 3.45a4.5 4.5 0 01.9 2.7m0 0a3 3 0 01-3 3m0 3h.008v.008h-.008v-.008zm0-6h.008v.008h-.008v-.008zm-3 6h.008v.008h-.008v-.008zm0-6h.008v.008h-.008v-.008z"/>
                                </svg>


                                Self-hosting Hook0
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="text-base font-medium text-white">Community</h3>
                    <ul role="list" class="mt-4 space-y-4">
                        <li class="pl-0">
                            <a href="https://gitlab.com/hook0/hook0/-/blob/master/CODE_OF_CONDUCT.md" target="_blank"
                               class="text-base text-gray-300 hover:text-white">
                                <span class="inline-block w-5 h-5 mr-2 align-text-bottom text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
</svg>

                                </span>

                                Code of Conduct
                            </a>
                        </li>
                        <li class="pl-0">
                            <a href="./oss-friends.ejs" target="_blank"
                               class="text-base text-gray-300 hover:text-white">
                                <span class="inline-block w-5 h-5 mr-2 align-text-bottom text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round"
        d="M20.893 13.393l-1.135-1.135a2.252 2.252 0 01-.421-.585l-1.08-2.16a.414.414 0 00-.663-.107.827.827 0 01-.812.21l-1.273-.363a.89.89 0 00-.738 1.595l.587.39c.59.395.674 1.23.172 1.732l-.2.2c-.212.212-.33.498-.33.796v.41c0 .409-.11.809-.32 1.158l-1.315 2.191a2.11 2.11 0 01-1.81 1.025 1.055 1.055 0 01-1.055-1.055v-1.172c0-.92-.56-1.747-1.414-2.089l-.655-.261a2.25 2.25 0 01-1.383-2.46l.007-.042a2.25 2.25 0 01.29-.787l.09-.15a2.25 2.25 0 012.37-1.048l1.178.236a1.125 1.125 0 001.302-.795l.208-.73a1.125 1.125 0 00-.578-1.315l-.665-.332-.091.091a2.25 2.25 0 01-1.591.659h-.18c-.249 0-.487.1-.662.274a.931.931 0 01-1.458-1.137l1.411-2.353a2.25 2.25 0 00.286-.76m11.928 9.869A9 9 0 008.965 3.525m11.928 9.868A9 9 0 118.965 3.525"/>
</svg>
                                </span>
                                OSS Friends
                            </a>
                        </li>
                        <li class="pl-0">
                            <a href="<%= locals.social.discord.href %>" target="_blank" title=""
                               class="text-base text-gray-300 hover:text-white">
                                <span class="inline-block w-5 h-5 mr-2 align-text-bottom text-white"><%- locals.social.discord.logo %></span>
                                <%= locals.social.discord.name %>
                            </a>
                        </li>
                        <li class="pl-0">
                            <a href="<%= locals.social.github.repoHref %>" target="_blank" title=""
                               class="text-base text-gray-300 hover:text-white">
                                <span class="inline-block w-5 h-5 mr-2 align-text-bottom text-white"><%- locals.social.github.logo %></span>
                                <%= locals.social.github.name %>
                            </a>
                        </li>
                        <li class="pl-0">
                            <a href="<%= locals.social.linkedin.href %>" target="_blank" title=""
                               class="text-base text-gray-300 hover:text-white">
                                <span class="inline-block w-5 h-5 mr-2 align-text-bottom text-white"><%- locals.social.linkedin.logo %></span>
                                <%= locals.social.linkedin.name %>
                            </a>
                        </li>
                        <li class="pl-0">
                            <a href="<%= locals.social.youtube.href %>" target="_blank" title=""
                               class="text-base text-gray-300 hover:text-white">
                                <span class="sr-only"><%= locals.social.youtube.name %></span>
                                <span class="inline-block w-5 h-5 mr-2 align-text-bottom text-white"><%- locals.social.youtube.logo %></span>
                                <%= locals.social.youtube.name %>
                            </a>
                        </li>
                        <li class="pl-0">
                            <a href="<%= locals.social.twitter.href %>" target="_blank" title=""
                               class="text-base text-gray-300 hover:text-white">
                                <span class="sr-only"><%= locals.social.twitter.name %></span>
                                <span class="inline-block w-5 h-5 mr-2 align-text-bottom text-white"><%- locals.social.twitter.logo %></span>
                                <%= locals.social.twitter.name %>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mt-8 border-t border-gray-700 pt-8 md:flex md:items-center md:justify-between">

            <div class="flex space-x-6 md:order-2">
                <% Object.values(locals.social).forEach((social) => { %>
                    <a href="<%= social.href %>" class="text-gray-400 hover:text-gray-300">
                        <span class="sr-only"><%= social.name %></span>
                        <%- social.logo %>
                    </a>
                <% }) %>
            </div>
            <p class="mt-8 text-base text-gray-400 md:order-1 md:mt-0">&copy; Hook0. All rights reserved.</br>
                Hook0 is made by an European French Tech company from Nantes, France.<br/>
                100% bootstraped, no VCs, we are here to stay.</p>
        </div>
    </div>
</footer>
